{# Override form help text to remove the 'i' circle icon #}
{% block form_help -%}
    {% if help is defined and help is not empty %}
        <small class="form-text text-muted">{{ help|trans({}, translation_domain) }}</small>
    {% endif %}
{%- endblock %}

{# Override form row to remove the 'i' circle icon #}
{% block form_row -%}
    <div class="form-group">
        {{- form_label(form) -}}
        {{- form_widget(form) -}}
        {{- form_errors(form) -}}
        {% if help is defined and help is not empty %}
            <small class="form-text text-muted">{{ help|trans({}, translation_domain) }}</small>
        {% endif %}
    </div>
{%- endblock %}
